html {
width: 100%;
  }
  
  .booking-container {
    margin-bottom: 20px;
  }
  
  .trip-card {
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    /* Rectangle: */
    border: 1px solid #E6E6E6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    border-radius: 7px;
    /* background-image: url(/images/seattle.jpg); */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire 
  /*   margin */
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .trip-card:hover {
    cursor: pointer;
    
    border: 3px solid rgb(10, 147, 221);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  }

  .trip-card > h1 {
  
  text-shadow: 2px 1px 3px rgba(0,0,0,0.50);
  }
  

  .pop-trips {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  .pop-trips >span {
    color: rgb(46, 95, 118);
  }



  